body {
    margin: 0;
    padding: 0;
}
.hero {
    position: relative;
    width: 100vw;
    height: 100vh;
}
.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(img/hero_1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    filter: brightness(60%);
}
.hero-content {
    position: relative;
}
