    /* blurring the image */
    .gfg {
        filter: blur(5px);
        width: 100%;
    }
             
    /* designing title and tag line */
    .logo {
        text-align:center;
        position: absolute;
        font-size: 18px;
        top: 50px;
        left: 27%;
        color: white;
}
