  /**************************/
 /* copy/v86 emulator code */
/**************************/
#start_emulation {
    padding: 6px 18px;
    font-size: 16px;
    font-weight: bold;
}
#setup_error {
    color: red;
    font-weight: bold;
    background-color: #222;
    padding: 8px 18px;
}
#config_link {
    font-weight: bold;
    background-color: #222;
    padding: 8px 18px;
}
#screen_container {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    outline: 1px solid #555;
}
#boot_options a {
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}
#boot_options td {
    padding: 1px 7px;
}
#oses small {
    font-size: 80%;
    color: #ccc;
    padding-left: 5px;
}
#oses tr {
    cursor: pointer;
}
#oses {
    border-spacing: 0;
}
#oses tr:hover {
    background-color: #311;
}
#oses td:nth-child(1) {
    white-space: pre;
    vertical-align: top;
}
#terminal {
    max-width: 1024px;
}

/* the code below was copied from xterm.css */

.xterm {
    font-feature-settings: "liga" 0;
    position: relative;
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

.xterm.focus,
.xterm:focus {
    outline: none;
}

.xterm .xterm-helpers {
    position: absolute;
    top: 0;
    /**
     * The z-index of the helpers must be higher than the canvases in order for
     * IMEs to appear on top.
     */
    z-index: 5;
}

.xterm .xterm-helper-textarea {
    padding: 0;
    border: 0;
    margin: 0;
    /* Move textarea out of the screen to the far left, so that the cursor is not visible */
    position: absolute;
    opacity: 0;
    left: -9999em;
    top: 0;
    width: 0;
    height: 0;
    z-index: -5;
    /** Prevent wrapping so the IME appears against the textarea at the correct position */
    white-space: nowrap;
    overflow: hidden;
    resize: none;
}

.xterm .composition-view {
    /* TODO: Composition position got messed up somewhere */
    background: #000;
    color: #FFF;
    display: none;
    position: absolute;
    white-space: nowrap;
    z-index: 1;
}

.xterm .composition-view.active {
    display: block;
}

.xterm .xterm-viewport {
    /* On OS X this is required in order for the scroll bar to appear fully opaque */
    background-color: #000;
    overflow-y: scroll;
    cursor: default;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
}

.xterm .xterm-screen {
    position: relative;
}

.xterm .xterm-screen canvas {
    position: absolute;
    left: 0;
    top: 0;
}

.xterm .xterm-scroll-area {
    visibility: hidden;
}

.xterm-char-measure-element {
    display: inline-block;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: -9999em;
    line-height: normal;
}

.xterm {
    cursor: text;
}

.xterm.enable-mouse-events {
    /* When mouse events are enabled (eg. tmux), revert to the standard pointer cursor */
    cursor: default;
}

.xterm.xterm-cursor-pointer {
    cursor: pointer;
}

.xterm.column-select.focus {
    /* Column selection mode */
    cursor: crosshair;
}

.xterm .xterm-accessibility,
.xterm .xterm-message {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
    color: transparent;
}

.xterm .live-region {
    position: absolute;
    left: -9999px;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.xterm-dim {
    opacity: 0.5;
}

.xterm-underline {
    text-decoration: underline;
}
  /*******************************************/
 /* CSS for overall look of entire website. */
/*******************************************/
body {
  background: url(/img/background7.png) repeat 0 0;
  text-align: center;
  font-family: sans-serif, helvetica;
}
td,th {
	font-family: monospace;
	padding: 4px;
	background-color: #ccc;
}

label {
	vertical-align: top;
}

#main {
	border: 1px dotted blue;
	padding: 6px;
	background-color: #ccc;
	margin-right: 50%;
}

#items_table {
	border: 1px dotted blue;
	padding: 6px;
	margin-top: 12px;
	margin-right: 50%;
}

#items_table h3 {
	font-size: 18px;
	margin-top: 0px;
	font-family: sans-serif;
}
.utterances {
  background-color: #708090;
}
.utterances-frame {
  background-color: gray;
}
footer {
  color: #ededed;
  text-align: center;
}
.tab {
  overflow: hidden;
  border: black;
  background-color: transparent;
}
.tab button {
  background-color: transparent;
  float: none;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.9s;
  font-size: 17px;
  color: #ededed;
}
.tab button:hover {
  opacity: 0.5;
  background-color: gray;
}
.tab button.active {
  opacity: 0.5;
}
.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
  border: 1px white;
}
button {
  text-align: center;
}
.active {
  background-color: gray;
  opacity: 0.5;
}

@font-face {
  font-family: 'Corben';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/corben/v14/LYjAdGzzklQtCMpFHCZQpHoqbN4.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: 'Corben';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/corben/v14/LYjAdGzzklQtCMpFHCZQqnoq.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Nobile';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/nobile/v12/m8JTjflSeaOVl1iGV63WSLU.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: 'Nobile';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/nobile/v12/m8JTjflSeaOVl1iGWa3W.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
code {
  font-family: 'Nobile', Helvetica, Arial, sans-serif;
  color: crimson;
  padding: 2px;
  font-size: 105%;
  opacity: 0.5;
}
p, li, dl, dd, dt, h1, h2, h3, h4, h5, h6, div, div#form_sample, a {
    font-family: 'Nobile', Helvetica, Arial, sans-serif;
    text-shadow: none;
    color: #ededed;
    /*background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Nobile', Helvetica, Arial, sans-serif;*/

}
}8nhj
.nav-pills > .active > a, .nav-pills > .active > a:hover {
    background-color: #FF9473;
}
details summary {
  cursor: pointer;
}

details summary > * {
  display: inline;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/************/
/* Comments */
/***********/
button1 {
    color: #333;
    background-color: transparent
}
.btn1 {
    display: none
}
.container1 {
    width: 600px;
    border: 2px solid #333;
    padding: 15px 10px;
}
input[type="submit"], button1 {
    padding: 10px 15px;
    border: none;
    outline: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}
input[type="submit"]
{
    color: #fff;
    background-color: #273c75
}
textarea1 {
    height: 20px;
    width: 100%;
    border: none;
    border-bottom: 2px solid #aaa;
    background-color: transparent;
    margin-bottom: 10px;
    resize: none;
    outline: none;
    transition: .5s
}
form {
    padding: 15px 25px;
    display: flex;
    gap: 10px;
    justify-content: center;
  }
   
  form label {
    font-size: 1.5rem;
    font-weight: bold;
  }
   
  input {
    font-family: "Lato";
  }
 #wrapper,
  #loginform {
    margin: 0 auto;
    padding-bottom: 25px;
    background: #eee;
    width: 600px;
    max-width: 100%;
    border: 2px solid #212121;
    border-radius: 4px;
  }
   
  #loginform {
    padding-top: 18px;
    text-align: center;
  }
   
  #loginform p {
    padding: 15px 25px;
    font-size: 1.4rem;
    font-weight: bold;
  }
   
  #chatbox {
    text-align: left;
    margin: 0 auto;
    margin-bottom: 25px;
    padding: 10px;
    background: #fff;
    height: 300px;
    width: 530px;
    border: 1px solid #a7a7a7;
    overflow: auto;
    border-radius: 4px;
    border-bottom: 4px solid #a7a7a7;
  }
   
  #usermsg {
    flex: 1;
    border-radius: 4px;
    border: 1px solid #ff9800;
  }
   
  #name {
    border-radius: 4px;
    border: 1px solid #ff9800;
    padding: 2px 8px;
  }
   
  #submitmsg,
  #enter{
    background: #ff9800;
    border: 2px solid #e65100;
    color: white;
    padding: 4px 10px;
    font-weight: bold;
    border-radius: 4px;
  }
   
  .error {
    color: #ff0000;
  }
   
  #menu {
    padding: 15px 25px;
    display: flex;
  }
   
  #menu p.welcome {
    flex: 1;
  }
   
  a#exit {
    color: white;
    background: #c62828;
    padding: 4px 8px;
    border-radius: 4px;
    font-weight: bold;
  }
   
  .msgln {
    margin: 0 0 5px 0;
  }
   
  .msgln span.left-info {
    color: orangered;
  }
   
  .msgln span.chat-time {
    color: #666;
    font-size: 60%;
    vertical-align: super;
  }
   
  .msgln b.user-name, .msgln b.user-name-left {
    font-weight: bold;
    background: #546e7a;
    color: white;
    padding: 2px 4px;
    font-size: 90%;
    border-radius: 4px;
    margin: 0 5px 0 0;
  }
   
  .msgln b.user-name-left {
    background: orangered;
  }

/********************************/
/* Style for Header Image Menu */
/******************************/

#header-image-menu{
    top: 10px;
    position: relative;
}
  
#header-image-menu img{
    width: 100%;
    margin: none;
    padding: none;
}
  
#image-text{
    position: absolute;
    top: 60%;
    left: 60%;
    font-family: 'Roboto';
    color: #000;
    transform: translate(-30%, -30%);
    text-align: center;
}
