/*******************************************/
 /* CSS for overall look of entire website. */
/*******************************************/
body {
  background: url(/img/background7.png) repeat 0 0;
  text-align: center;
  font-family: sans-serif, helvetica;
}

td,th {
	font-family: monospace;
	padding: 4px;
	background-color: transparent;
}

label {
	vertical-align: top;
}
/*Code for Derivative Clicker*/
#navbar {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#navbar a {
	text-decoration: none;
}

#header {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#moneyTable {
	margin-left: auto;
	margin-right: auto;
	background-color: transparent;
}

#moneyButton {
	margin-left: auto;
	margin-right: auto;
	display: block;
	height: 40px;
	width: 200px;
	font-size: 16px;
	background-color: transparent;
}

#moneyButtonText {
	line-height: 40px;
}

#mPC, #mPAC, #tickLenCell{
	text-align: center;
}

/* Code for Realm Grinder game */

.col-md-9
            {
                position: relative;
                min-height: 1px;
                padding-left: 15px;
                padding-right: 15px;
            }
.photo{
            float:left;
            width: 40%
        }
    
        .note{
            background-color: black;
            color: white;
            margin: 100px;
            padding:20px;
            float:right;
            width:40%;
            border-radius: 6.18%;
            font-family: "Microsoft Yahei"
        }
    
        .blank{
            position: absolute;
            opacity:0
        }
    
        .attention
        {
            color:red;
            font-size:20px;
        }
        .foot
        {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        }
        .main
        {
        height:100% ;
        padding-bottom:120px;
    
        }
.info {
            background-color:black;
            color:white;
            /* margin: 100px; */
            padding:20px;
            /* float:right; */
            position:absolute;
            width:40%;
            border-radius: 6.18%;
            border: 2px outset rgb(204,232,207) ;
            font-family: "Microsoft Yahei";
    
        }
/* end code for realm grinder */

/*#tableContainer {
	overflow: auto;
	height: 325px;
}*/

#inventoryTable, #row5, #row6, #row7{
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	background-color: transparent;

}

#row5, #row6, #row7 {
	margin-top: -2px;
	padding-top: 0px;
	background-color: transparent;
}

#numToBuyContainer{
	margin-top: 30px;
	display: block;
	text-align: center; 
	background-color: transparent;
}

#numToBuy {
	width: 100px;
	text-align: center;
	background-color: transparent;	
	border-radius: 5px;
	display: inline-block;
}

#submitNumToBuy{
	width: auto;
	padding: 1px 5px;
	font-weight: bold;
	background-color: transparent;
}

#submitNumToBuy2{
	width: auto;
	padding: 1px 5px;
	font-weight: bold;
	background-color: transparent;
}

#optionTable{
	margin: auto;
	background-color: transparent;
}

#reset {
	text-align: center;
	width: 200px;
	font-size: 30px;
	display: inline-block;
	margin-bottom: 20px;
	background-color: transparent;
}

#statTable, #resetTable{
	display: inline;
	margin: auto;
	float: left;
	background-color: transparent;
}

#chartContainer{
	float: right;
	height: 400px;
	width: 600px;
	background-color: transparent;
}

#chartAxisToggle{
	float: right;
	clear: both;
	text-align: center;
	margin-top: 10px;
	padding: 1px 5px;
	font-weight: bold;
	width: 150px;
	background-color: transparent;
}

#prestigeTable thead{
	font-weight: bold;
	background-color: transparent;
}

#prestigeTable tr td{
	padding-left: 20px;
	padding-right: 20px;
	background-color: transparent;
}

#bottom{
	clear: both;
	font-size: 12px;
	text-align: center;
	background-color: transparent;
}
	
/*Derivative Clicker Contined*/
/* first line of buttons*/
.button h3 {
	text-align: center;
	margin: 0px;
	background-color: transparent;
}

.buttonLit h3 {
	text-align: center;
	margin: 0px;
	background-color: transparent;
}

/* second line of buttons */

.button p:nth-child(2) {
	text-align: center;
	margin: 0px;
	font-size: 13px;
	background-color: transparent;
}

.buttonLit p:nth-child(2) {
	text-align: center;
	margin: 0px;
	font-size: 13px;
	background-color: transparent;
}

/* last line of buttons */

.button p:last-child {
	text-align: center;
	margin: 0px;
	background-color: transparent;
}

.buttonLit p:last-child {
	text-align: center;
	margin: 0px;
	background-color: transparent;
}

/* buttons that aren't lit */

.button, .buttonLit {
	border: 1px solid black;
	border-radius: 5px;
	cursor: pointer;
	width: 18%;
	-webkit-user-select: none;
	-moz-user-select: none;
	background-color: transparent;
}

.button {
	background-color: transparent;
}

/* buttons that are lit */

.buttonLit {
	background-color: transparent;
}

.buttonLit:hover {
	background-color: gray;
}

.option {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 100px;
	text-align: center;
	font-size: 30px;
	width: 300px;
	height: 20px;
	background-color: transparent;
}

/* General classes */

.spacer {
	width: 1%;
}

.strong{
	font-weight: bold;
	text-decoration: underline;
}

/* Tab appearance */

/* Centers the tabs */
#tabs .ui-tabs-nav {
	text-align: center;
	background-color: transparent;
}

#tabs .ui-tabs-nav li {
	float: none;
	display: inline-block;
	background-color: transparent;
}

/* Other appearance stuff */
#tabs { 
    background: transparent; 
    border: none;
	background-color: transparent;
} 
#tabs .ui-widget-header { 
    background: transparent; 
    border: none; 
    border-bottom: 1px solid #c0c0c0; 
    -moz-border-radius: 0px; 
    -webkit-border-radius: 0px; 
    border-radius: 0px; 
	background-color: transparent;
} 

#tabs .ui-tabs-nav .ui-state-default { 
    background: transparent; 
    border: none; 
	background-color: transparent;
} 
#tabs .ui-tabs-nav .ui-state-active { 
    background: transparent no-repeat bottom center; 
    border: none; 
	background-color: transparent;
} 
#tabs .ui-tabs-nav .ui-state-default a { 
    color: white;
	background-color: transparent;
} 
#tabs .ui-tabs-nav .ui-state-active a { 
    color: white; 
}
#main {
	border: 1px dotted blue;
	padding: 6px;
	background-color: #ccc;
	margin-right: 50%;
}

#items_table {
	border: 1px dotted blue;
	padding: 6px;
	margin-top: 12px;
	margin-right: 50%;
}

#items_table h3 {
	font-size: 18px;
	margin-top: 0px;
	font-family: sans-serif;
}
/*Overall Website Continued*/
.utterances {
  background-color: #708090;
}
.utterances-frame {
  background-color: gray;
}
footer {
  color: #ededed;
  text-align: center;
}
.tab {
  overflow: hidden;
  border: black;
  background-color: transparent;
}
.tab button {
  background-color: transparent;
  float: none;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.9s;
  font-size: 17px;
  color: #ededed;
}
.tab button:hover {
  opacity: 0.5;
  background-color: gray;
}
.tab button.active {
  opacity: 0.5;
}
.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
  border: 1px white;
}
button {
  text-align: center;
}
.active {
  background-color: gray;
  opacity: 0.5;
}

@font-face {
  font-family: 'Corben';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/corben/v14/LYjAdGzzklQtCMpFHCZQpHoqbN4.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: 'Corben';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/corben/v14/LYjAdGzzklQtCMpFHCZQqnoq.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Nobile';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/nobile/v12/m8JTjflSeaOVl1iGV63WSLU.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: 'Nobile';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/nobile/v12/m8JTjflSeaOVl1iGWa3W.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
code {
  font-family: 'Nobile', Helvetica, Arial, sans-serif;
  color: crimson;
  padding: 2px;
  font-size: 105%;
  opacity: 0.5;
}
p, li, dl, dd, dt, h1, h2, h3, h4, h5, h6, div, div#form_sample, a, table {
    font-family: 'Nobile', Helvetica, Arial, sans-serif;
    text-shadow: none;
    color: #ededed;
    /*background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Nobile', Helvetica, Arial, sans-serif;*/

}
}8nhj
.nav-pills > .active > a, .nav-pills > .active > a:hover {
    background-color: #000080;
}
details summary {
  cursor: pointer;
}

details summary > * {
  display: inline;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/************/
/* Comments */
/***********/
button1 {
    color: #333;
    background-color: transparent
}
.btn1 {
    display: none
}
.container1 {
    width: 600px;
    border: 2px solid #333;
    padding: 15px 10px;
}
input[type="submit"], button1 {
    padding: 10px 15px;
    border: none;
    outline: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}
input[type="submit"]
{
    color: #fff;
    background-color: #273c75
}
textarea1 {
    height: 20px;
    width: 100%;
    border: none;
    border-bottom: 2px solid #aaa;
    background-color: transparent;
    margin-bottom: 10px;
    resize: none;
    outline: none;
    transition: .5s
}
form {
    padding: 15px 25px;
    display: flex;
    gap: 10px;
    justify-content: center;
  }
   
  form label {
    font-size: 1.5rem;
    font-weight: bold;
  }
   
  input {
    font-family: "Lato";
  }
 #wrapper,
  #loginform {
    margin: 0 auto;
    padding-bottom: 25px;
    background: #eee;
    width: 600px;
    max-width: 100%;
    border: 2px solid #212121;
    border-radius: 4px;
  }
   
  #loginform {
    padding-top: 18px;
    text-align: center;
  }
   
  #loginform p {
    padding: 15px 25px;
    font-size: 1.4rem;
    font-weight: bold;
  }
   
  #chatbox {
    text-align: left;
    margin: 0 auto;
    margin-bottom: 25px;
    padding: 10px;
    background: #fff;
    height: 300px;
    width: 530px;
    border: 1px solid #a7a7a7;
    overflow: auto;
    border-radius: 4px;
    border-bottom: 4px solid #a7a7a7;
  }
   
  #usermsg {
    flex: 1;
    border-radius: 4px;
    border: 1px solid #ff9800;
  }
   
  #name {
    border-radius: 4px;
    border: 1px solid #ff9800;
    padding: 2px 8px;
  }
   
  #submitmsg,
  #enter{
    background: #ff9800;
    border: 2px solid #e65100;
    color: white;
    padding: 4px 10px;
    font-weight: bold;
    border-radius: 4px;
  }
   
  .error {
    color: #ff0000;
  }
   
  #menu {
    padding: 15px 25px;
    display: flex;
  }
   
  #menu p.welcome {
    flex: 1;
  }
   
  a#exit {
    color: white;
    background: #c62828;
    padding: 4px 8px;
    border-radius: 4px;
    font-weight: bold;
  }
   
  .msgln {
    margin: 0 0 5px 0;
  }
   
  .msgln span.left-info {
    color: orangered;
  }
   
  .msgln span.chat-time {
    color: #666;
    font-size: 60%;
    vertical-align: super;
  }
   
  .msgln b.user-name, .msgln b.user-name-left {
    font-weight: bold;
    background: #546e7a;
    color: white;
    padding: 2px 4px;
    font-size: 90%;
    border-radius: 4px;
    margin: 0 5px 0 0;
  }
   
  .msgln b.user-name-left {
    background: orangered;
  }

/********************************/
/* Style for Header Image Menu */
/******************************/

#header-image-menu{
    top: 10px;
    position: relative;
}
  
#header-image-menu img{
    width: 100%;
    margin: none;
    padding: none;
}
  
#image-text{
    position: absolute;
    top: 60%;
    left: 60%;
    font-family: 'Roboto';
    color: #000;
    transform: translate(-30%, -30%);
    text-align: center;
}

@viewport {
  width: 100vw; /*Sets the width of the actual viewport to the device width*/
}

@viewport {
  min-width: 640px;
  max-width: 800px;
}
@viewport {
max-width: 480px;
}
@viewport {
min-width: 481px;
max-width: 767px;
}
@viewport {
min-width: 1025px;
max-width: 1280px;
}
@viewport {
min-width: 1281px;
}
@viewport {
  zoom: 0.75;
  min-zoom: 0.5;
  max-zoom: 0.9;
}

@viewport {
  orientation: landscape;
}*/
@media (min-width: 481px;) {
	h1 {
		font-size: 28px;
		margin-bottom: 10px;
	}
	p, a {
		font-size: 10px;
	}
}
@media (min-width: 1025px;) {
	h1 {
		font-size: 32px;
		margin-bottom: 10px;
	}
	p, a {
		font-size: 16px;
	}
}
@media (min-width: 640px;) {
	h1 {
		font-size: 30px;
		font-size: 8px;
	}
	p, a {
		font-size 12px;
	}
}
